@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Arial', sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .form-container {
    background-color: #fff;
    /* border-radius: 10px;  */
  box-shadow: 0px 0px 10px 0px white;
    padding: 20px;
    width: 40vw;
    font-family: Univa Nova;
    /* border: 1px solid blue; */
    background-color: #6f7997;
    /* display: flex;
    flex-direction: column; */
    padding-left: 2vw;
  }

  .form-container label {
    display: block;
    margin-bottom: 8px;
  }

  .addRecipeBtn{
    display: block;
    align-items: center;
    justify-content: center;
    margin-left: 50%;
    transform: translate(-50%);
  }

  .form-container input,
  .form-container textarea {
    width: 80%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    /* border-radius: 4px; */
  }

  .form-container label{
    font-size: 18px;
    color: white;
    font-weight: bolder;
  }

  .imageInput{
    display: flex;
    flex-direction: row;
  }

  .imageInput label {
    padding-top: 10px;
  }

  #description {
    width: 100%;
  }

  #title,#categoriesInput{
    width: 100%;
  }

  #image{
    width: 50%;
    color: white;
  }

  .form-container button {
    background-color: #6f7997;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  .form-container button:hover {
    background-color: #7c839a;
  }

  .input-group {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0.4vh;
    left: -51vw;
    margin-left: 1vw;
  }
  
  .input {
    min-height: 50px;
    max-width: 250px;
    padding: 0 1rem;
    color: #fff;
    font-size: 15px;
    border: 1px solid #535c78;
    border-radius: 6px 0 0 6px;
    background-color: transparent;
  }
  
  .button--submit {
    min-height: 50px;
    max-width: 78px;
    padding: .5em 1em;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: #535c78;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
  }
  
  .button--submit:hover {
    background-color: #5e5dcd;
  }
  
  .input:focus, .input:focus-visible {
    border-color: #3898EC;
    outline: none;
  }
  
  /* .addRecipeBtn{
    width: 16vw;
    height: 8vh;
    position: fixed;
    right: 20px;
    bottom: 20px;
    font-size: 32px;
    text-align: center;
    background-color: #00CC00;
    border: 2px solid black;
    /* border-radius: 15px; */
    /* display: none; */
  /* }  */

  .recipeCardOuter{
    /* display: flex; */
    /* margin-top: 150vh; */
    height: fit-content;
    min-width: 100vw;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 10vh;
    justify-content: flex-start;
  }

  
  .recipeCard{
    width: 25vw;
    height: 43vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #5a6998;
    font-family: Univa Nova;
    /* margin: 2.5vw 2.5vw;
    align-items: center;
    justify-content: center; */
  }
  
  /* .recipeCard:hover{
    border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background-color: #61615e;
  width: 40vw;
    height: 70vh;
    position: inherit;
  } */

  .recipeCard:hover .recipeDescription{
    /* display: block; */
  }

  .select-none{
    background-color: #6f7997;
  }

  .recipeCardImages{
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .recipeTitleCard{
    font-size: 1.8rem;
  }
  
  .backgroundimg{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../images/top-view-fresh-vegetables-various-spices-small-bowls-wooden-spoons-table-free-space.jpg');
    background-size: 100vw 100vh;
  background-repeat: no-repeat;
  background-position: center;
    z-index: -1;
  }

  .submit-btn{
    border-radius: 10px; /* Optional: Add border-radius for rounded corners */
  box-shadow: 0px 0px 10px 0px green, 0px 0px 10px 0px;
  background-color: black;
  
  }

  .recipeDescription{
    display: none;
  }

  .homeImageDiv{
    width: 65vw;
    height: 80vh;
    border: 1px solid green;
    position: absolute;
    left: 0;
    top: 10vh;
  }
  
  .homeImageDiv img{
    width: 65vw;
    height: 80vh;
  }
  
  .homeImageDiv p{
    position: absolute;
    left: 0;
    bottom: 0;
    color: #6f7997;
    border: 2px solid red;
    width: 40vw;
    height: 14vh;
    font-size: 68px;
  }

  

  .rightDivList{
    width: 30vw;
    /* height: 70vh; */
    /* border: 1px solid purple; */
    position: absolute;
    right: 0;
    top: 10vh;
  }

  .portraitDivs{
    width: 27vw;
    height: 70vh;
    /* border: 1px solid pink; */
    margin-bottom: 7vh;
    display: flex;
    flex-direction: column;
    /* color: red; */
  }

  .portraitDivs:hover{
    border-right: 8px solid #6f7997;
    border-bottom: 8px solid #6f7997;
  }

  .portraitDivs img{
    min-width: 27vw;
    height: 37vh;
    z-index: -1;
  }
  .portraitDivs p{
    font-size: 32px;
  }

  .portraitDivs p{
    color: #6f7997;
  }

  .portraitDivs .title1{
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .landscapeDivs{
    width: 65vw;
    height: 150vh;
    border: 1px solid yellow;
    position: absolute;
    left: 0;
    top: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
    align-content: flex-start
  }

  .landDivs{
    flex: 0 0;
    min-width: 30vw;
    height: 25vh;
    border: 1px solid limegreen;
    margin-top: 2.5vh;
    margin-left: 2.3vw;
  }

  .aboutDivHome{
    border: 1px solid blue;
    width: 65vw;
    height: 150vh;
    position: absolute;
    bottom: -300vh;
    left: 0;
  }

  .allOfTheAbove{
    background-color: white;
  }

  .overlay {
    position: relative;
    top: -24vh;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.082); /* Dark overlay color with transparency */
    transition: opacity 0.3s ease;
}

.landDivs:hover .overlay {
    opacity: 0; /* Make the overlay transparent on hover */
}