@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(17 24 39);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .form-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 400px;
  }

  .form-container label {
    display: block;
    margin-bottom: 8px;
  }

  .form-container input,
  .form-container textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .form-container button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }

  .form-container button:hover {
    background-color: #45a049;
  }

  .input-group {
    display: flex;
    align-items: center;
    position: absolute;
    top: 7vh;
    left: 7vw;
  }
  
  .input {
    min-height: 50px;
    max-width: 250px;
    padding: 0 1rem;
    color: #fff;
    font-size: 15px;
    border: 1px solid #5e4dcd;
    border-radius: 6px 0 0 6px;
    background-color: transparent;
  }
  
  .button--submit {
    min-height: 50px;
    max-width: 78px;
    padding: .5em 1em;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: #5e4dcd;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
  }
  
  .button--submit:hover {
    background-color: #5e5dcd;
  }
  
  .input:focus, .input:focus-visible {
    border-color: #3898EC;
    outline: none;
  }
  
  .addRecipeBtn{
    width: 20vw;
    height: 10vh;
    position: absolute;
    right: 5vw;
    bottom: 5vh;
  }

  .recipeCardOuter{
    /* display: flex; */
    margin-top: 50vh;

  }

  .recipeCard{
    width: 25vw;
    height: 55vh;
  }